[Unit]
Description=Kristina's service
Requires=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart= java -jar {{ app_dir }}/{{ app_file }}
Restart=on-failure
RestartSec=10
Environment=PORT={{ app_port }}
User={{ user }}
